.header {
  height: var(--header-height);
  &__navbar {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    &__hamburger-btn {
      position: relative;
      top: 0.25rem;
      left: calc(100% - 4rem);
      background-color: #222222;
      border: none;
      img {
        width: 3rem;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
}
